*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    height: 100vh;
}
.page::before{
    content: "";
    position: fixed;
    top: 50%;
    background-color: #0075ff;
    height: 100%;
    width: 300%;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%) skew(0, -10deg);
    z-index: -1;
    animation: waving 10s ease-in-out infinite alternate;
}

@keyframes waving {
    from{
        transform: translateX(-50%) skew(0, -10deg);
    }
    to{
        transform: translateX(-30%) skew(10deg, 0);
    }
}
.card{
    width: 300px;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}
.card img{
    max-width: 100%;
    border-radius: 4px;
}
.card h2{
    margin-top: 10px;
}
.card p{
    margin-top: 10px;
}